body {
    background: url("/webroot/img/body_bg.png");
}
header{
    margin: 0 auto;
    max-width: 1024px;
}
.admin-menu a{
    color: #c12e2a !important;
}
.admin-menu li:hover a{
    color: #ce8483 !important;
}
.bg-color-white {
    background-color: #fff;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1024px;
    width: 100%;
}

.container-bg {
    background: #fff url("/webroot/img/container_bg.png");
}

.color-lightblue {
    background-color: #30a7d7;
    color: #fff;
}

.clearfix {
    clear: both !important;
}

.color-black {
    color: #000;
}
.post-text img{
    width: 100%;
}
.newslist a{
    color: #565656;
}
.tags a{
    margin-right: 5px;
}
/************************************************/
/*******************EditList*********************/
/************************************************/
figure.edit-pokemon img{
    height:70px;
}
table.edit-list td{
    vertical-align: middle !important;
    text-align: center;
}
/************************************************/
/*******************POKEDEX**********************/
/************************************************/
.page-main-title, .section-title {
    color: #919191;
    cursor: default;
    font-size: 187.5%;
    line-height: 125%;
    text-transform: none;
    font-family: "Flexo-Regular",arial,sans-serif;
    margin: 30px 25px;
}
.pokemon-title{
    color: #919191;
    font-size: 187.5%;
    margin-bottom: 50px;
}
.pokedex-filter-header {
    background: #313131;
    float: left;
    width: 100%;
}
.pokedex-filter-header .filter-text-search .button-search {
    float: left;
    margin-right: -100%;
    width: 12.95%;
    margin-left: 79.8025%;
    background-image: url("/webroot/img/input-search-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    clear: none;
    text-indent: -9999px;
    height: 48px;
    position: relative;
    top: 2px;
    border: 0;
    border-radius: 5px;
    background-color: #ee6b2f;
}
.pokedex-filter-header .filter-text-search .twitter-typeahead {
    float: left;
    margin-right: -100%;
    width: 72.5425%;
    border: 3px solid #616161;
    clear: both;
    margin-top: 0.325em;
    background-color: #fff;
    border-radius: 5px;
}
#searchInput{
    width: 100%;
}
.pokedex-filter-header .filter-text-search label {
    float: left;
    font-size: 167.5%;
    text-transform: none;
    width: 100%;
    color: #fff;
}
.filter-text-search label{
    margin-top: 20px;
}

.filter-text-search {
    margin-bottom: 40px;
}
.pokedex-filter {
    clear: both;
    background: #616161;
    border-color: #212121;
    border-style: solid;
    border-width: 1px 0 0 0;
    overflow: hidden;
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.banner-green {
    -webkit-transition: background-color .1s linear;
    -ms-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear;
    background-color: #4dad5b;
    border-radius: 5px;
}
.banner-green:hover{
    -webkit-transition: background-color .1s linear;
    -ms-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear;
    background-color: #369143;
}
.banner-green h2{
    font-size: 125%;
    line-height: 125%;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    padding: 10px 10px 0px;
}
.banner-green p{
    padding: 10px;
}
.banner-green a {
    color: #2e6636;
}
/*****************/
.center-container {
    margin: 0 auto;
    float: none !important;
}

.pokedex-list-data {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokedex-list-data li {
    margin-bottom: 30px;
}

.pokedex-list-data li figure {
    background: #F2F2F2;
    float: left;
    display: block;
    position: relative;
    border-radius: 5px;
}
.pokedex-list-data figure img{
    background: rgb(242, 242, 242) none repeat scroll 0% 0%;
    border-radius: 5px;
}
.pokedex-list-data h5 {
    color: #313131;
    text-transform: none;
    font-size: 145%;
    margin-bottom: 5px;
}

.pokedex-list-data .abilities span {
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0 1.5625% 0 0;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
}

.pokemon-stats-info {
    background-color: #a4a4a4;
    border-radius: 10px;
    display: block;
    float: left;
    margin: 1em 0;
    width: 100%;
}
.pokedex-pokemon-details-right h3.version {
    font-family: "Flexo-Medium",arial,sans-serif;
    color: #212121;
    float: left;
    font-size: 112.5%;
    line-height: 150%;
    margin: 1.125em 0 2em;
    text-transform: none;
}
.pokemon-ability-info {
    list-style: none;
}

.hchfx {
    clear: both;
    width: 100%;
    padding: 10px 0px;
}
.pokemon-spec{
    display: table;
    min-height: 213px;
    width: 100%;
    border-radius: 5px;
}
.attribute-title{
    clear: both;
    color: #fff;
    float: left;
    font-size: 100%;
    margin: 1.25em 0 0 1.25em;
    text-transform: none;
    white-space: normal;
    word-break: break-word;
}
.attribute-value{
    clear: both;
    color: #212121;
    float: left;
    font-size: 125%;
    margin: 0.75em 0 0 1em;
    white-space: normal;
    word-break: break-word;
}
.pokedex-pokemon-attributes span a {
    color: white;
    display: block;
    float: left;
    line-height: 100%;
    padding: 0.5em 0em;
    width: 100%;
    font-size: 14px;
}
.pokedex-pokemon-attributes span{
    float: left;
    margin-right: -100%;
    width: 31.29%;
    border-radius: 5px;
    margin: 0.5em 0.5em 0 0;
    padding: 0;
    text-align: center;
}
.pokemon-stats-info h3 {
    clear: both;
    color: #313131;
    font-size: 100%;
    margin: 0.75em 1.5em 1.5em;
    text-transform: none;
}
ul.abil{
    list-style: none;
    float: left;
    position: relative;
    overflow: hidden;
    width: 55px;
    margin: 0px 5px;
    padding: 0;
}
ul.abil li{
    margin-bottom: 3px;
}
ul.abil li.type-name{
    font-weight: bold;
    color: #212121;
    float: left;
    font-size: 62.5%;
    text-align: center;
    text-transform: none;
    width: 100%;
}
.clear_param{
    background: rgb(255, 255, 255);
    height: 8px;
    width: 55px;
    position: relative;
    z-index: 6;
}
.full_param{
    background: #30a7d7;
    height: 0.5em;
    width: 100%;
    position: relative;
    z-index: 2;
}
/************************************************/
/***************Description*****r****************/
/************************************************/
.version-descriptions p.active {
    display: block;
}
.version-descriptions p {
    color: #212121;
    font-size: 112.5%;
    line-height: 150%;
    display: none;
}
/************************************************/
/***************Version btn Color****************/
/************************************************/
.version-labels .version-label.version-y.active {
    border-color: #eb859a;
}
.version-labels .version-label.version-x.active{
    border-color: #17adff;
}
.version-labels .version-label.version-y {
    background-color: #dd2d51;
}
.version-labels .version-label.version-x {
    background-color: #0072b0;
}
.version-labels .version-label{
    color: #fff;
    font-size: 14px;
    padding: 0px 3px;
    font-weight: 600;
}

.version-labels .version-label {
    font-family: "Flexo-Bold",arial,sans-serif;
    border-color: #fff;
    border-style: solid;
    border-width: 4px;
    border-radius: 32px;
    cursor: pointer;
    float: left;
    height: 34px;
    line-height: 27px;
    margin: 0.75em 0 0.75em 0.5em;
    text-transform: none;
    text-align: center;
    vertical-align: middle;
    width: 34px;
}
/************************************/
#addPokemon {
    padding: 7px 90px;
    border: 0px none;
    border-radius: 5px;
    clear: both;
    margin: 10px auto;
    transition: all 0.3s;
}

#addPokemon:hover {
    box-shadow: 0px 1px 2px rgb(0, 0, 0) inset;
    transition: all 0.3s;
}

/************************************************/
/*******************Type Color*******************/
/************************************************/

.background-color-bug {
    background: -webkit-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -ms-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -moz-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -o-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    color: #fff;
}

.background-color-dragon {
    background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff;
}

.background-color-fairy {
    background: -webkit-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -ms-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -moz-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -o-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #212121;
}

.background-color-fire {
    background: -webkit-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -ms-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -moz-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -o-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #fff;
}

.background-color-ghost {
    background: -webkit-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -ms-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -moz-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -o-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
    color: #fff;
}

.background-color-ground {
    background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
}

.background-color-normal {
    background: -webkit-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -ms-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -moz-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -o-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121;
}

.background-color-psychic {
    background: -webkit-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -ms-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -moz-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -o-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff;
}

.background-color-steel {
    background: -webkit-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -ms-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -moz-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -o-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
    color: #212121;
}

.background-color-dark {
    background: -webkit-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -ms-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -moz-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -o-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
    color: #fff;
}

.background-color-electric {
    background: -webkit-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    color: #212121;
}

.background-color-fighting {
    background: -webkit-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -ms-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -moz-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -o-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    color: #fff;
}

.background-color-flying {
    background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}

.background-color-grass {
    background: -webkit-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -ms-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -moz-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -o-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121;
}

.background-color-ice {
    background: -webkit-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -ms-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -moz-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -o-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
    color: #212121;
}

.background-color-poison {
    background: -webkit-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    color: #fff;
}

.background-color-rock {
    background: -webkit-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -ms-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -moz-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -o-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    color: #fff;
}

.background-color-water {
    background: -webkit-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -ms-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -moz-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -o-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff;
}

/************************************************/
/**********************FOOTER********************/
/************************************************/

.footer-divider {
    clear: both;
    display: block;
    height: 36px;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

.footer-divider .footer-notch {
    float: left;
    margin-right: -100%;
    width: 85.49%;
    margin-left: 7.2525%;
    background-color: #fff;
    height: 6px;
    position: relative;
}

.footer-divider .footer-notch::before {
    background: transparent url("/webroot/img/notch-top-left.png") no-repeat;
    left: -11px;
}

.footer-divider .footer-notch::after {
    background: transparent url("/webroot/img/notch-top-right.png") no-repeat;
    right: -11px;
}

.footer-divider .footer-notch::before, .footer-divider .footer-notch::after {
    content: '';
    height: 6px;
    position: absolute;
    bottom: 0;
    width: 12px;
}

/************************************************/
/*******************STIKI FOOTER*****************/
/************************************************/

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 142px;
}

.site-footer {
    background: #1f1f1f;
}